* {
    margin: 0;
    padding: 0;
}

section h1 {    
    background-color: aqua;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;    
}

section p {
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

article {
    background-size: cover;
    background-image: url(../img/sky.jpeg); 
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}