@font-face {
    font-family: "Montserrat-Medium";
    src: url(/fonts/Montserrat-Medium.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html::first-line, li, p {
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

h3::first-letter {
    font-size: 3rem;
    color: #32cd32;
}

ul li:nth-child(1)::first-letter {
    font-size: 24px;
    color: red;
    text-transform: uppercase;
    text-decoration: overline;
  }

  ul li:nth-child(2)::first-letter {
    font-size: 24px;
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  ul li:nth-child(3)::first-letter {
    font-size: 24px;
    color: green;
    text-transform: uppercase;
    text-decoration: line-through;
  }

ul li:nth-child(3) {
        text-decoration: line-through;
}

section p:nth-of-type(1) {
    margin-top: 20px;
    margin-bottom: 30px;
    text-indent: 40px;
    color: grey;
}

section p:nth-child(2)::first-letter {
    color: red;
    font-size: 2rem;
}
section p:nth-child(3)::first-letter {
    color: red;
    font-size: 1.5rem;
}
section p:nth-child(4)::first-letter {
    color: red;
    font-size: 2rem;
}
section p:nth-child(5)::first-letter {
    color: red;
    font-size: 1.5rem;
}
section p:nth-child(6)::first-letter {
    color: red;
    font-size: 2rem;
}

h3:hover::first-letter {
    color: blue;
}

.highlight {
    color: green; 
    position: relative; 
  }
 
  .highlight::before {
    color: green; 
  }
  
  .highlight::after {
    color: green; 
  } 
  
  .highlight:hover {
    color: purple; 
    transition: background-color 0.3s, color 0.3s; 
  }